{# new twig template file - hibbittsdesign.org #}
{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
          {% if not page.header.hide_page_title %}
          <h3>{{page.title}}</h3>
          {% else %}
          <h3 aria-label={{page.title}}></h3>
          {% endif %}

          {% if config.plugins.twigfeeds.enabled %}

            {% set index = 1 %}
            {% set feed_items = [] %}
            {% for name, feed in twig_feeds %}
                {% for item in feed.items %}
                    {% set index = index + 1 %}
                    {% set item = item|merge({ 'retrievedTitle': feed.title }) %}
                    {% set item = item|merge({ 'sortDate': item.date.date }) %}
                    {% set feed_items = feed_items|merge({ (index): (item) }) %}
                {% endfor %}
            {% endfor %}

            {{ page.content }}

            {% if page.header.rss_feed_display_order == 'source' %}
              {% for name, feed in twig_feeds %}
                  <h4><a class="newwindow external-link" href="{{ feed.source }}">{{ feed.title }}</a></h4>
                  {% for item in feed.items %}
                  <h5>
                  <a class="newwindow external-link" href="{{ item.url }}">{{ item.title }}</a>
                </h5>
                  <time>{{ item.date.date|date("m/d/Y") }}</time>
                  {% if page.header.rss_feed_header_images %}
                    <p>{{ item.content|preg_get('/(<img(?:(\s*(class)\s*=\s*\x22([^\x22]+)\x22*)+|[^>]+?)*>)/') }}</p>
                  {% endif %}
                  {% set paragraphs = item.content | split('</p>') %}
                  {% set firstParagraph = paragraphs[0] ~ '</p>' %}
                  {% set secondParagraph = paragraphs[1] ~ '</p>' %}
                  {% if page.header.rss_feed_preview_paragraphs == 'one' or page.header.rss_feed_preview_paragraphs is empty %}
                    <p>{{ firstParagraph | striptags }}</p>
                    <p><a class="newwindow external-link" href="{{ item.url }}">Continue reading...</a></p><br>
                  {% elseif page.header.rss_feed_preview_paragraphs == 'two' %}
                    <p>{{ firstParagraph | striptags }}</p>
                    <p>{{ secondParagraph | striptags }}</p>
                    <p><a class="newwindow external-link" href="{{ item.url }}">Continue reading...</a></p><br>
                  {% endif %}
                  {% endfor %}
              {% endfor %}
            {% else %}
              {% for index, item in feed_items|sort_by_key('sortDate')|reverse %}
                  <h4>
                  <a class="newwindow external-link" href="{{ item.url }}">{{ item.title }}</a>
                  </h4>
                  <time>{{ item.date.date|date("m/d/Y") }}</time>, {{ item.retrievedTitle }}
                  {% if page.header.rss_feed_header_images %}
                    <p>{{ item.content|preg_get('/(<img(?:(\s*(class)\s*=\s*\x22([^\x22]+)\x22*)+|[^>]+?)*>)/') }}</p>
                  {% endif %}
                  {% set paragraphs = item.content | split('</p>') %}
                  {% set firstParagraph = paragraphs[0] ~ '</p>' %}
                  {% set secondParagraph = paragraphs[1] ~ '</p>' %}
                  {% if page.header.rss_feed_preview_paragraphs == 'one' or page.header.rss_feed_preview_paragraphs is empty %}
                    <p>{{ firstParagraph | striptags }}</p>
                    <p><a class="newwindow external-link" href="{{ item.url }}">Continue reading...</a></p><br>
                  {% elseif page.header.rss_feed_preview_paragraphs == 'two' %}
                    <p>{{ firstParagraph | striptags }}</p>
                    <p>{{ secondParagraph | striptags }}</p>
                    <p><a class="newwindow external-link" href="{{ item.url }}">Continue reading...</a></p><br>
                  {% endif %}
                {% endfor %}
            {% endif %}
  	      {% else %}
  		       <p>Install and configure the <strong>Twig Feeds</strong> Plugin to display RSS Feeds on this page.</p>
          {% endif %}
          
          {# Git repository edit link - hibbittsdesign.org #}
          {% if ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( config.site.gitrepo.editlinklocation == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
            <hr>
            <br>
            {% include 'partials/gitrepo_link_note.html.twig' %}
            <br>
          {% endif %}
        </div>
        {# removed sidebar rendering - hibbittsdesign.org #}
      </div>
    </div>
  {% endblock %}

{% endembed %}
